.tot{
    background-color: #1d3358;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1000px;
    top: -36px;
    overflow-x: hidden;
}

.logo{
    float: left;
    top: 10px;
    position: relative;
}

.head{
    top: 20px;
    position: relative;
}

.fa-solid, .fas {
    font-weight: 900;
    float: right;
    top: -46px;
    position: relative;
}

.btn{
    text-decoration: none;
    padding:8px 16px;
    border-radius: 11.5px;
    background-color: #62eec7;
    font-size: 20px;
    color: black;
    margin-right: 50px;
    text-align: center;
    width: 86px;
}

.heading{
    color: #066163;
    font-size: 25px;
    font-family: Lobster;
    text-align: center;
    position: relative;
    background-color: aliceblue;
    height: 82px;
}

.next{
    float:right;
    margin-right: -35px;
}

.prev{
    float: left;
    margin-left: 9px;
}

.nav-btn{
    top: 10px;
    position: relative;
}

.nav-btn a:hover{
    color: white;
    background: none;
    border: 2px solid white;
}

.sub-head{
    content: "";
    clear: both;
    padding: 24px;
    margin: 38px;
    top: 47px;
    position: relative;
    z-index: 1;
}

.sub-head p{
    font-size: 20px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(176, 226, 127)
}

.pl{
    left: 170px;
    top: 100px;
    position: relative;
    
}
